---
import Layout from '../layouts/Layout.astro';
import RiskCalculator from '../components/features/calculator/RiskCalculator';
import InfoSection from '../components/ui/InfoSection.astro';
---

<Layout title="RiskCalculatorCrypto | Pro Position Size Tool">
  
  <main class="bg-slate-950 min-h-screen pt-12 pb-20 px-4">
    <RiskCalculator client:load />
  </main>

  <InfoSection /> </Layout>